{% extends 'base.html.twig' %}

{% block title %}
    {{ad.title}}
{% endblock %}

{% block body %}
<div class="ad-title" style="background-image: url({{ad.coverImage}})">

   <div class="container">
    <h1>{{ad.title}}</h1>
    <p>{{ad.introduction}}</p>
    <p class="h2">
        <strong>{{ad.rooms}} chambres</strong> pour <strong>{{ad.price}}&euro;
        </strong> par nuit
    </p>
    <a href="#" class="a btn btn-primary">Réserver !</a>
   
   </div>

</div>
<div class="container">
    <div class="row">
         <div class="col-md-8 mb-8">
              {{ad.content | raw}}
              
                 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                       {% for image in ad.images %}                     
                        <div class="carousel-item {% if loop %}active{% endif %}">
                          <img src="{{image.url}}" class="d-block w-100" alt="First slide">
                        </div>
                     {% endfor %}    
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
         </div>
         <div class="col">
            <div class="row">
                 <div class="col-4">
                    <img src="https://via.placeholder.com/64x64" alt="Avatar de Joseph">
                 </div>
                 <div class="col">
                    <h3>Joseph Dupont</h3>
                    <span class="badge badge-primary"> 3 annonces</span>
                 </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione debitis quod adipisci officiis ab facere illum vero quasi accusamus corrupti?</p>
            <p>Mollitia tempora, quae quidem expedita modi nemo, natus fuga enim ratione optio laudantium dicta recusandae fugiat distinctio, animi facere commodi?</p>
            <p>Soluta doloremque distinctio nesciunt dignissimos necessitatibus numquam autem, expedita quam id optio sapiente quasi saepe ipsa, architecto dolores, neque voluptatum!</p>
         </div>
    </div>
</div>

{% endblock %}